header nav ul {
  display: flex;
  align-items: baseline;
  list-style-type: none;
}

header nav li {
  margin-right: 15px;
}

header button {
  border: none;
  padding: 8px 25px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.25rem;
  
}

/* Main Section */

.wrapper {
  display: flex;
}

.main {
  flex: 3;
}

.main h2 {
  font-size: 32px;
  margin: 1rem 0;
  color: #50c6db;
}

.main p {
  font-size: 1rem;
  margin-bottom: .75rem;
}

.main img {
  width: 75%;
  margin-right: 1rem;
}

/* Sidebar */

.sidebar {
  padding: 20px;
  flex: 1;
  margin-right: 60px;
 
  background-color: #f9f9f9;
}

.sidebar ul {
list-style-type: none;
margin-top: 1rem;
font-size: .75rem;
}

.sidebar ul > li {
  padding: .25rem 0;
}

.logo {
font-size: 2rem;
margin-right: 1.5rem;
color: #50c6db;
}

.grid-item {
  height: auto;
}
.grid-item1 {grid-area: a; background:rgb(248, 249, 250);}
.grid-item2 {grid-area: b; background:rgb(248, 249, 250);}
.grid-item3 {grid-area: c; background:rgb(248, 249, 250);}
.grid-item4 {grid-area: d; background:rgb(248, 249, 250);}
.grid-item5 {grid-area: e; background:rgb(248, 249, 250);}
.grid-item6 {grid-area: f; background:rgb(248, 249, 250);}
.grid-item7 {grid-area: g; background:rgb(248, 249, 250);}
.grid-item8 {grid-area: h; background:rgb(248, 249, 250);}
.grid-item9 {grid-area: j; background:rgb(248, 249, 250);}
.grid-item10 {grid-area: k; background:rgb(248, 249, 250);}



.grid-container {
  display: grid;
  grid-template-areas: 
  'a a b b b b b b b c c c'
  'd d d d d d e e e f f f'
  'g g g h h h h h h j j j'
  'k k k k k k k k k k k k';
  grid-gap: 10px;
  

  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1 / 7;
}

.grid-container > div {
  text-align: left;
  padding: 30px 0;
  font-size: 15px;
}

@media screen and (min-width: 992px) {
  body {
    background:rgb(154, 187, 207);:PaleTurquoise;;
  }
}


@media screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-areas: 
    'a a b b b b b b b c c c'
    'd d d d d d d d d d d d'
    'e e e e e e e e e e e e'
    'g g g g g g g g g f f f'
    'h h h h h h h h h h h h'
    'h h h h h h h h h h h h'
    'j j j j j j j j j j j j'
    'k k k k k k k k k k k k';
    grid-gap: 10px;
    background-color: transparent;
    padding: 10px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1 / 7;
  }
}

@media (max-width: 570px) {
  .wrapper {
      flex-direction: column;
  }

  .main {
      margin-right: 0;
      margin-bottom: 60px;
  }
.container-grid {
  grid-template-areas: 
  'a a'
  'b c'
  'e e'
  'g g'
  'f f'
  'h h'
  'k k';
  grid-gap: 20px;
  padding: 10px;
  grid-template-columns: repeat (2,1fr);
}
.item4, .item9 {
  display: none;
}

}



