
.grid-item {
  height: auto;
}

.grid-item1 {grid-area: a; background:LightSkyBlue;}
.grid-item2 {grid-area: b; background:PaleTurquoise;}
.grid-item3 {grid-area: c; background:LightSkyBlue;}
.grid-item4 {grid-area: d; background:PaleTurquoise;}
.grid-item5 {grid-area: e; background:LightSkyBlue;}
.grid-item6 {grid-area: f; background:PaleGreen;}
.grid-item7 {grid-area: g; background:LightSkyBlue;}
.grid-item8 {grid-area: h; background:PaleTurquoise;}
.grid-item9 {grid-area: j; background:LightSkyBlue;}
.grid-item10 {grid-area: k; background:PaleTurquoise;}



.grid-container {
  display: grid;
  grid-template-areas: 
  'a a b b b b b b b c c c'
  'd d d d d d e e e f f f'
  'g g g h h h h h h j j j'
  'k k k k k k k k k k k k';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  grid-template-columns: repeat(12,1fr);
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

@media screen and (min-width: 991px) {
  body {
    background:PaleTurquoise;;
  }
}